/*音乐*/
.aplayer
.aplayer-fixed
.aplayer-body {
    position: fixed;
    bottom: 0;
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
    right: 0;
    margin: 0;
    z-index: 99;
    background: #fff;
    padding-right: 18px;
    transition: all .3s ease;
    max-width: 400px;
}

.aplayer, .aplayer-fixed, .aplayer.aplayer-narrow, .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}