/* 背景切换 默认的
/* 由于全屏会出bug，所以直接给他隐藏 */

/* .winbox {
    border-radius: 12px;
    overflow: hidden;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.wb-drag {
    background: #b347f1;
}

.wb-title {
    font-family: '汉仪唐美人';
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 166px;
    margin: 10px;
    background-size: cover
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

.box {
    height: 100px;
} */

/* 老用户如果不再使用页面版可删除下面代码 */
/* #color {
    border: none;
    background: transparent;
    width: 166px;
    height: 110px;
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
}

#color::before {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 38px;
    top: 44px;
    content: '自定义颜色';
} */

/* @media screen and (max-width: 768px) { */
    /* 背景 */
    /* .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }

    .pimgbox {
        height: 205px;
    }  */

    /* 老用户如果不再使用页面版可删除下面代码 */
    /* #color {
        width: 141px;
        height: 83px;
        margin: 7px;
    }
    #color::before {
        left: 33px;
        top: 33px;
    }     */

    /* 2.0新增内容 */
    /* .wb-min {
        display: none;
    }

    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}  */
:root {
    --heo-theme: #425AEF;
    --heo-theme-op: #4259ef23;
    --heo-blue: #425AEF;
    --heo-red: #D8213C;
    --heo-pink: #FF7C7C;
    --heo-green: #28a63f;
    --heo-yellow: #d99c00;
    --heo-orange: #e38100;
    --heo-fontcolor: #363636;
    --heo-background: #f7f9fe;
    --heo-reverse: var(--sqw-black);
    --heo-maskbg: rgba(255, 255, 255, 0.6);
    --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
    --heo-hovertext: var(--heo-main);
    --heo-ahoverbg: #F7F7FA;
    --heo-lighttext: var(--heo-main);
    --heo-secondtext: rgba(60, 60, 67, 0.6);
    --heo-scrollbar: rgba(60, 60, 67, 0.4);
    --heo-card-btn-bg: #edf0f7;
    --heo-post-blockquote-bg: #fafcff;
    --heo-post-tabs-bg: #f2f5f8;
    --heo-secondbg: #f1f3f8;
    --heo-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --heo-card-bg: var(--sqw-white);
    --heo-card-bg-op: var(--heo-black-op);
    --heo-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-card-border: #e3e8f7;
    --heo-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border-forever: 2px solid var(--heo-main);
    --sqw-border:#c9c9c9;
    --sqw-blue:#6cf;
    --sqw-gray:#e2e2e2;
    --sqw-theme:var(--sqw-pink);
    --sqw-light-grey:#F2F2F2;
    --sqw-green:#34d0cc;
    --sqw-black-acrylic1: #0008;
    --sqw-black-acrylic2: #000a;
    --sqw-black-acrylic3:#00000099;
    --sqw-black:black;
    --sqw-white:white;
    --sqw-white-acrylic1:#fffd;
    --sqw-white-acrylic2:#fffa;
    --sqw-blackgray:#797979;
    --sqw-0:#0000;
    --sqw-scrollbar: #acacacDD;
    --sqw-whitegray:#f1f1f1;
    --sqw-red:#d7000f;
    --sqw-orange:#ed8e00;
    --sqw-yellow:rgb(241, 238, 71);
    --sqw-purple:rgb(179, 71, 241);
    --sqw-pink:#ed709b;
    --sqw-heoblue:#0098db;
    --sqw-darkblue:#61649f;
}
.winbox {
    border-radius: 12px;
    overflow: hidden;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}


.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 166px;
    margin: 10px;
    background-size: cover
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

.box {
    height: 100px;
}

@media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }
    .pimgbox {
        height: 205px;
    }
    .wb-min {
        display: none;
    }
    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}
.bgbox *{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* .reSettings{
    color:var(--sqw-white)!important
}
.reSettings::before{
    content:"\f021";
    font-family:var(--fa-style-family,"Font Awesome 6 Free");font-weight:var(--fa-style,900);
    color:var(--sqw-white)!important
}
.reSettings:hover{
    cursor: pointer;
} */
.swf {
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    border: 2px solid var(--border-color);
    border-radius: 10px!important;
    margin: 10px;
}
[data-theme="dark"] .swf{
    color:white!important;
    background-color: brown;
}
.wb-title{
    color:black;
    font-family: '汉仪唐美人';
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
[data-theme="dark"] .wb-title{
    color:white;
}
#changeBgBox{
        border-radius: 12px;
        backdrop-filter: blur(20px);
        
}
[data-theme="light"] #changeBgBox{
    background: #fffa!important;
}
[data-theme="dark"] #changeBgBox{
    background: #0008!important;
}
[data-theme="light"] .wb-close{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB0PSIxNjYxODMyNDg4NDQ2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjI2MzAiIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cGF0aCBkPSJNNTU2LjggNTEyTDgzMiAyMzYuOGMxMi44LTEyLjggMTIuOC0zMiAwLTQ0LjgtMTIuOC0xMi44LTMyLTEyLjgtNDQuOCAwTDUxMiA0NjcuMmwtMjc1LjItMjc3LjMzMzMzM2MtMTIuOC0xMi44LTMyLTEyLjgtNDQuOCAwLTEyLjggMTIuOC0xMi44IDMyIDAgNDQuOGwyNzUuMiAyNzcuMzMzMzMzLTI3Ny4zMzMzMzMgMjc1LjJjLTEyLjggMTIuOC0xMi44IDMyIDAgNDQuOCA2LjQgNi40IDE0LjkzMzMzMyA4LjUzMzMzMyAyMy40NjY2NjYgOC41MzMzMzNzMTcuMDY2NjY3LTIuMTMzMzMzIDIzLjQ2NjY2Ny04LjUzMzMzM0w1MTIgNTU2LjggNzg3LjIgODMyYzYuNCA2LjQgMTQuOTMzMzMzIDguNTMzMzMzIDIzLjQ2NjY2NyA4LjUzMzMzM3MxNy4wNjY2NjctMi4xMzMzMzMgMjMuNDY2NjY2LTguNTMzMzMzYzEyLjgtMTIuOCAxMi44LTMyIDAtNDQuOEw1NTYuOCA1MTJ6IiBwLWlkPSIyNjMxIj48L3BhdGg+PC9zdmc+");}
[data-theme="light"] .wb-max{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB0PSIxNjYxODMyNjU2MTQ0IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjI5MjMiIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cGF0aCBkPSJNNzk0LjQzMiA5ODMuNTUySDUxLjJhMjUuNiAyNS42IDAgMCAxLTI1LjYtMjUuNlYyMTQuNzg0YTI1LjYgMjUuNiAwIDAgMSAyNS42LTI1LjZoMTUyLjc2OFY2Ni4xMTJhMjUuNiAyNS42IDAgMCAxIDI1LjYtMjUuNkg5NzIuOGEyNS42IDI1LjYgMCAwIDEgMjUuNiAyNS42djc0My4yMzJhMjUuNiAyNS42IDAgMCAxLTI1LjYgMjUuNmgtMTUyLjc2OHYxMjMuMDA4YTI1LjYgMjUuNiAwIDAgMS0yNS42IDI1LjZ6IG0tNzE3LjYzMi01MS4yaDY5Mi4wMzJWMjQwLjM4NEg3Ni44djY5MS45Njh6IG03NDMuMjMyLTE0OC42NzJIOTQ3LjJWOTEuNjQ4SDI1NS4xNjh2OTcuNDcyaDUzOS4yNjRhMjUuNiAyNS42IDAgMCAxIDI1LjYgMjUuNnY1NjguOTZ6IiBwLWlkPSIyOTI0Ij48L3BhdGg+PC9zdmc+");
}
[data-theme="light"] .wb-min{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB0PSIxNjYxODMyNzE4OTgzIiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjM4MzQiIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cGF0aCBkPSJNMTkyLjEyOCA3NjhsNjM5LjY4IDBDODY3LjI2NCA3NjggODk2IDc5Ni40MTYgODk2IDgzMmMwIDM1LjM5Mi0yOS4xODQgNjQtNjQuMTkyIDY0TDE5Mi4xMjggODk2QzE1Ni43MzYgODk2IDEyOCA4NjcuNTg0IDEyOCA4MzIgMTI4IDc5Ni42MDggMTU3LjE4NCA3NjggMTkyLjEyOCA3Njh6IiBwLWlkPSIzODM1Ij48L3BhdGg+PC9zdmc+");
}
[data-theme="light"] .wb-body{
    background:#fffa!important;
}
[data-theme="dark"] .wb-body{
    background:#0008!important;
}
.winbox.focus.max {
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -ms-border-radius: 0!important;
    -o-border-radius: 0!important;
}
.settings{
    margin:15px
}
.settings .content{
    margin-left:20px;
}
.content-text{
    margin-left:5px
}
.content-button {
    background-color: var(--sqw-theme);
    padding: 5px;
    color: white;
    border-radius: 4px;
}
.content-button{
    margin-right: 10px;
}
/* 开关 */
.settings input[type="checkbox"] {
    width: 38px;
    height: 20px;
    position: relative;
    border: 1px solid #000000;
    background-color: #fdfdfd;;
    border-radius: 12px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
transform: translateY(5px);}
.settings input[type="checkbox"]:before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 5px;
    border-radius: 10px;
    background-color: #000;}
.settings input[type="checkbox"]:checked {
    background-color: var(--sqw-theme);border-color:var(--sqw-theme)}
.settings input[type="checkbox"]:checked:before {
    left: 19px;background-color: white!important;}
.settings input[type="checkbox"] {
    transition: border background-color box-shadow }
.settings input[type="checkbox"]:before {
    transition: left 0.2s;}
.settings input[type="checkbox"]:checked {
    background-color: var(--sqw-theme);
    /* transition: border ease 0.4s, background-color ease 1.2s; */
}.settings input[type="checkbox"]:checked:before {
    transition: left 0.2s;}
.settings input[type="checkbox"]:checked:hover{
    opacity: 0.8;
}
.settings input[type="checkbox"]:active{
    background-color: #666666!important;
    border-color:#666666!important;
}
.settings input[type="checkbox"]:active::before{
    background-color:white!important;
}
.wb-e{
    right:5px!important
}
#colors::before {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 38px;
    top: 44px;
    content: "自定义颜色";
}
#colors {
    border: none;
    background: 0 0;
    width: 166px;
    height: 110px;
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
    padding:0;
    border-radius:12px
}
input[name="colors"]{
    margin-right: 15px;
    min-width: 1rem;
    height: 1rem;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
}
#red{
    border: 3px solid var(--sqw-red);
}
#orange{
    border: 3px solid var(--sqw-orange);
}
#yellow{
    border: 3px solid var(--sqw-yellow);
}
#green{
    border: 3px solid var(--sqw-green);
}
#blue{
    border: 3px solid var(--sqw-blue);
}
#purple{
    border: 3px solid var(--sqw-purple);
}
#pink{
    border: 3px solid var(--sqw-pink);
}
#heoblue{
    border: 3px solid var(--sqw-heoblue);
}
#darkblue{
    border: 3px solid var(--sqw-darkblue);
}
#black  {
    border: 3px solid var(--sqw-black);
}
#blackgray  {
    border: 3px solid var(--sqw-blackgray);
}
#purple:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-purple);
    background-color: var(--sqw-purple);
}
#red:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-red);
    background-color: var(--sqw-red);
}
#orange:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-orange);
    background-color: var(--sqw-orange);
}
#yellow:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-yellow);
    background-color: var(--sqw-yellow);
}
#green:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-green);
    background-color: var(--sqw-green);
}
#blue:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-blue);
    background-color: var(--sqw-blue);
}
#pink:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-pink);
    background-color: var(--sqw-pink);
}
#heoblue:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-heoblue);
    background-color: var(--sqw-heoblue);
}
#darkblue:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-darkblue);
    background-color: var(--sqw-darkblue);
}
#black:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-black);
    background-color: var(--sqw-black);
}
#blackgray:checked{
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--sqw-blackgray);
    background-color: var(--sqw-blackgray);
}
